@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 20px;
}

.nav-link {
  margin-right: 16px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 100%;
  max-height: 100%;
  background-image: url(./img/hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
}

.hero {
  margin: 240px auto;
  padding: 0px 200px;
}

.hero-text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid #fff;
  padding: 100px 0px;
  box-shadow: 0 0 40px 4px rgba(26, 26, 26, 0.4);
}

.hero-text-box h6 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
  padding: 0px 10px;
}

.hero-text-box h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.2;
  margin: 16px 0px 0px;
  color: #fff;
}

.review-img {
  display: flex;
}

.review-img img {
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.review-img img:hover {
  opacity: 1;
  transform: scale(0.9);
  box-shadow: 0 0 40px 4px rgba(26, 26, 26, 0.4);
}

.testimonials {
  margin-top: 5rem;
}

.test-container {
  margin: 0px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

.test-box {
  padding: 32px 30px 22px;
}

.test-box a {
  border-style: none none solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  padding: 0;
  text-decoration: none;
  color: black;
}

.test-box a:hover {
  color: #c5a28f;
}

.test-num {
  color: #c5a28f;
  font-size: 1.4rem;
  font-weight: 600;
}

.test-text {
  font-size: 1.45rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.test-dis {
  font-size: 1.2rem;
  line-height: 1.8;
  margin: 1.2rem 0 1.2rem 0;
  color: #999999;
}

.information {
  margin-top: 4rem;
}

.info-image {
  min-width: 1200px;
  height: 500px;
}

.info-box-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.info-box-2 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.image-2 {
  min-width: 900px;
  height: 500px;
  object-fit: cover;
}

.image-3 {
  min-width: 440px;
  height: 200px;
  margin-top: 2.4rem;
}

.image-4 {
  min-width: 450px;
  height: 500px;
}

.imgs:hover {
  transform: scale(0.9);
  box-shadow: 0 0 40px 4px rgba(26, 26, 26, 0.4);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.box a {
  font-size: 5rem;
  font-weight: 600;
  color: #c5a28f;
}

.box p {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.info-box-1 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 2rem;
}
