@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 20px;
}

.nav-link {
  margin-right: 16px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: "Inter", sans-serif;
}
